Repository piotrpdev/aero-weather: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-web-lint, fmt, clippy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: '^.*src-tauri/gen/.*$'
repos:
    - repo: https://github.com/commitizen-tools/commitizen
      rev: v3.29.0
      hooks:
          - id: commitizen
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.6.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: mixed-line-ending
          - id: check-yaml
          - id: check-json
          - id: check-toml
          - id: check-added-large-files
    - repo: https://github.com/DavidAnson/markdownlint-cli2
      rev: v0.13.0
      hooks:
          - id: markdownlint-cli2
    - repo: local
      hooks:
          - id: local-web-lint
            name: web lint:write
            entry: npm run lint:write
            language: system
            types: [text]
            files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css)$"
            pass_filenames: false
          - id: fmt
            name: fmt
            entry: cargo fmt
            language: system
            types: [rust]
            args: ["--manifest-path", "./src-tauri/Cargo.toml", "--"]
          - id: clippy
            name: clippy
            entry: cargo clippy
            language: system
            types: [rust]
            args: ["--manifest-path", "./src-tauri/Cargo.toml", "--fix", "--allow-staged", "--", "-W", "clippy::pedantic", "-D", "warnings"]
            pass_filenames: false

feat: air quality mostly done
  index.html
  src/App.tsx
  src/assets/styles/styles.css
  src/hooks/useFetchGeolocationAndForecast.tsx
  src/lib/weather.ts
Due: local-web-lint

feat: hopefully finished air quality
  src/App.tsx
  src/assets/styles/styles.css
  src/lib/formatters.ts
Due: local-web-lint

feat: finishing css
  src/assets/styles/styles.css
Due: local-web-lint

feat: better errors, readme image
  README.md
  index.html
  public/preview.png
  src/App.tsx
  src/assets/styles/styles.css
  src/hooks/useFetchGeolocationAndForecast.tsx
  src/lib/weather.ts
Due: local-web-lint

feat: nicer readme
  README.md
Due: none

feat: attribution
  src/App.tsx
  src/assets/styles/styles.css
  src/hooks/useFetchGeolocationAndForecast.tsx
Due: local-web-lint

feat: publish.yml
  .github/workflows/publish.yml
Due: none

feat: publish manual dispatch
  .github/workflows/publish.yml
Due: none

feat: use npm everywhere, v1
  .github/workflows/publish.yml
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Due: local-web-lint, fmt, clippy

fix: tauri product name
  .github/workflows/publish.yml
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: local-web-lint

feat: gh pages
  .github/workflows/gh_pages.yml
Due: none

refactor: gh pages on publish
  .github/workflows/gh_pages.yml
Due: none

fix: clearer attribution, remove text shadow
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/assets/styles/styles.css
Due: local-web-lint

feat: extra meta tags
  index.html
Due: none
